body{
    font-family: 'Open Sans', sans-serif !important;
}
#table {
    border:solid;
}
th {
    text-align: center;
    font-size: 4rem;
    border: solid;
}
td {
    font-size: 3rem;
    text-align: center;
}

#table tr:hover {
    background: #eee !important;
}
.room_number {
    color: white;
    font-size: 4rem;
}
.loader {
    position: fixed; /* Sit on top of the page content */
  
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
  
    background-color: #E9374C;
    color:white;
    z-index: 800; /* Specify a stack order in case you're using a different order for other elements */
  }
  
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    
    overflow-y: scroll;

    margin:auto auto;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #E9374C;
    color:white;
    z-index: 500; /* Specify a stack order in case you're using a different order for other elements */
}

.cross {
    float:right;
    margin: 20px;
}
#big-table-2 {
    height: 100px !important;
    overflow-y: scroll !important;
}
#table-2  th {
    width: 50% !important;
}
@media screen and (max-width: 1000px) {
    th {
        
    }
    #overlay {
        margin:0 !important;
        height: 100% !important;
        width:100% !important;
    }
    td {
        
    }
}